agent3_michael_v3.json
{
  "name": "Agent 3 - Michael Dual Email Writer v3 (Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "a3v3-node-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://xjrgqborwhvyqgrczetq.supabase.co/rest/v1/contacts?select=*,company:companies(nombre,industria,canal)&estado=eq.investigado&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a3v3-node-02",
      "name": "Read Contacts Investigados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a3v3-node-03",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-tipo",
              "leftValue": "={{ $json.tipo_contacto }}",
              "rightValue": "decision_maker",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3v3-node-04",
      "name": "IF - Tipo Contacto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 1024,\n  \"system\": \"Eres Abraham López, Director de Growth de Birdie (trybirdie.ai), plataforma de AI para comercio exterior en México. Redacta un email de prospección FRÍO, profesional y directo para un tomador de decisiones importador. REGLAS: máximo 120 palabras, sin markdown, sin asteriscos. Menciona específicamente su empresa. Enfócate en ROI: reducción de tiempos en aduana, visibilidad de cargas, ahorro en costos. CTA: propón una llamada de 15 minutos. Firma como Abraham López | Birdie. Formato exacto: [SUBJECT: asunto aquí]\\n\\ncuerpo del email aquí\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Escribe un email de prospección para:\\nNombre: {{ $json.nombre }}\\nCargo: {{ $json.cargo }}\\nEmpresa: {{ $json.company?.nombre || '' }}\\nPain point: {{ $json.pain_point }}\\nContexto: {{ $json.contexto_email }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a3v3-node-05a",
      "name": "HTTP Request Claude DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 260],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 1024,\n  \"system\": \"Eres Abraham López, Director de Growth de Birdie (trybirdie.ai). Redacta un email corto y natural para un contacto interno de una empresa importadora (NO es el tomador de decisiones). Objetivo: conseguir que te conecte con quien decide sobre logística/importaciones. REGLAS: máximo 90 palabras, tono amigable y conversacional, NO menciones precio ni hagas pitch de ventas, pide explícitamente ser conectado con la persona que maneja importaciones/logística. Formato exacto: [SUBJECT: asunto aquí]\\n\\ncuerpo del email aquí\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Escribe un email para un referidor interno:\\nNombre: {{ $json.nombre }}\\nCargo: {{ $json.cargo }}\\nEmpresa: {{ $json.company?.nombre || '' }}\\nContexto: {{ $json.contexto_email }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a3v3-node-05b",
      "name": "HTTP Request Claude Referidor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 540],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      },
      "id": "a3v3-node-06",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst claudeResponse = items[0].json;\nlet contactData = {};\ntry {\n  contactData = $('SplitInBatches').all()[0].json || {};\n} catch(e) {}\n\nconst text = claudeResponse?.content?.[0]?.text || '';\nconst subjectMatch = text.match(/\\[SUBJECT:\\s*(.+?)\\]/);\nconst subject = subjectMatch ? subjectMatch[1].trim() : 'Birdie - Plataforma de Comercio Exterior';\nconst body = text.replace(/\\[SUBJECT:[^\\]]+\\]\\n?/, '').trim();\nconst tokens = (claudeResponse?.usage?.input_tokens || 0) + (claudeResponse?.usage?.output_tokens || 0);\n\nreturn [{\n  json: {\n    contact_id: String(contactData.id || ''),\n    company_id: String(contactData.company_id || ''),\n    empresa_nombre: String(contactData.company?.nombre || ''),\n    canal: String(contactData.company?.canal || ''),\n    email_address: String(contactData.email || ''),\n    tipo_contacto: String(contactData.tipo_contacto || ''),\n    email_subject: subject,\n    email_generado: body,\n    tokens_claude: String(tokens),\n    fecha_envio: new Date().toISOString().slice(0, 10)\n  }\n}];"
      },
      "id": "a3v3-node-07",
      "name": "Code - Parse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_address }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_generado }}",
        "options": {
          "replyTo": "abraham@trybirdie.ai",
          "appendAttribution": false
        }
      },
      "id": "a3v3-node-08",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1780, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xjrgqborwhvyqgrczetq.supabase.co/rest/v1/contacts?id=eq.{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'enviado', email_subject: $json.email_subject, email_generado: $json.email_generado, fecha_envio: $json.fecha_envio }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a3v3-node-09",
      "name": "PATCH Contact Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xjrgqborwhvyqgrczetq.supabase.co/rest/v1/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ company_id: $json.company_id || null, opportunity_name: $json.empresa_nombre, status: 'Active Lead', owner: 'Abraham Lopez', estrategia: $json.canal, notes: 'Michael sent email · ' + ($json.email_address || ''), ingreso_lead: new Date().toISOString().slice(0,10), next_touchpoint: new Date(Date.now() + 5*86400000).toISOString().slice(0,10) }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a3v3-node-10",
      "name": "POST Deal Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "a3v3-node-11",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2220, 400],
      "webhookId": "a3v3-wait-webhook"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Contacts Investigados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts Investigados": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF - Tipo Contacto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Tipo Contacto": {
      "main": [
        [
          {
            "node": "HTTP Request Claude DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Claude Referidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Claude DM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Claude Referidor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code - Parse Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Claude": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "PATCH Contact Enviado",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST Deal Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Contact Enviado": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Deal Supabase": {
      "main": [
        []
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
