agent4_pepper_v2.json
{
  "name": "Agent 4 - Pepper (Reply Classifier & Responder)",
  "nodes": [
    {
      "id": "a1b2c3d4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5",
      "name": "Gmail - Read Inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [200, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "filters": {
          "labelIds": ["INBOX"],
          "q": "is:unread"
        },
        "returnAll": false,
        "limit": 20
      }
    },
    {
      "id": "c3d4e5f6",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [400, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7",
      "name": "Code - Extract Sender Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const msg = $input.item.json;\nconst from = msg.from || msg.From || '';\nconst emailMatch = from.match(/[\\w.-]+@[\\w.-]+\\.\\w+/);\nconst senderEmail = emailMatch ? emailMatch[0].toLowerCase() : '';\nconst threadId = msg.threadId || msg.id || '';\nconst msgId = msg.id || '';\nreturn { json: { ...msg, senderEmail, threadId, msgId } };"
      }
    },
    {
      "id": "e5f6a7b8",
      "name": "Google Sheets - Find Contacto",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [800, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.senderEmail }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      }
    },
    {
      "id": "f6a7b8c9",
      "name": "IF - Row Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.contacto_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a7b8c9d0",
      "name": "Merge Email + Contact",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 200],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "b8c9d0e1",
      "name": "HTTP Request - Claude Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "TU_ANTHROPIC_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 50,\n  system: \"Clasifica este email de respuesta en UNA sola palabra: interesado | pide_info | no_interesado | fuera_oficina | conecta_dm | otro. Solo responde la clasificación, nada más.\",\n  messages: [{ role: \"user\", content: \"Tipo de contacto: \" + $json.tipo_contacto + \"\\nEmail recibido: \" + ($json.snippet || $json.body || '') }]\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c9d0e1f2",
      "name": "Code - Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $input.item.json;\nconst text = (resp?.content?.[0]?.text || 'otro').toLowerCase().trim();\nconst valid = ['interesado','pide_info','no_interesado','fuera_oficina','conecta_dm','otro'];\nconst clasificacion = valid.find(v => text.includes(v)) || 'otro';\nlet prev = {};\ntry { prev = $('Merge Email + Contact').item.json || {}; } catch(e) {}\nreturn { json: { ...prev, clasificacion } };"
      }
    },
    {
      "id": "d0e1f2a3",
      "name": "Switch - On Classification",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1800, 200],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw-cond-001",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "interesado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "calendly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw-cond-002",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "pide_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "calendly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw-cond-003",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "conecta_dm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "referidor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "sw-cond-004",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "no_interesado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "descartado"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "e1f2a3b4",
      "name": "HTTP Request - Claude Draft Calendly Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 80],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "TU_ANTHROPIC_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 200,\n  system: \"Eres Abraham López de Birdie. Redacta una respuesta breve y cálida para agendar una llamada. Incluye el link de Calendly: https://calendly.com/birdiemx/birdie-meeting-abraham. Máximo 60 palabras. Sin markdown.\",\n  messages: [{ role: \"user\", content: \"Responde a: \" + $json.nombre + \" de \" + $json.empresa }]\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "f2a3b4c5",
      "name": "HTTP Request - Claude Draft Referidor Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 260],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "TU_ANTHROPIC_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 200,\n  system: \"Eres Abraham López de Birdie. Redacta respuesta cálida agradeciendo al referidor y pidiendo intro con quien decide logística/importaciones. Máximo 50 palabras.\",\n  messages: [{ role: \"user\", content: \"Responde a: \" + $json.nombre + \" de \" + $json.empresa }]\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a3b4c5d6",
      "name": "Gmail - Reply Calendly",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2200, 80],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "message": "={{ $json.content?.[0]?.text || 'Gracias por tu respuesta. Aquí mi calendario: https://calendly.com/birdiemx/birdie-meeting-abraham' }}",
        "options": {}
      }
    },
    {
      "id": "b4c5d6e7",
      "name": "Gmail - Reply Referidor",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2200, 260],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "message": "={{ $json.content?.[0]?.text || 'Gracias por la referencia, me encantaría conectar con quien toma las decisiones en logística/importaciones.' }}",
        "options": {}
      }
    },
    {
      "id": "c5d6e7f8",
      "name": "Google Sheets - Update calendly_enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2400, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contacto_id": "={{ $json.contacto_id }}",
            "estado": "calendly_enviado",
            "clasificacion_respuesta": "interesado",
            "fecha_respuesta": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": ["contacto_id"]
        },
        "options": {
          "alwaysOutputData": true
        }
      }
    },
    {
      "id": "d6e7f8a9",
      "name": "Google Sheets - Update conecta_dm",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2400, 260],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contacto_id": "={{ $json.contacto_id }}",
            "estado": "conecta_dm",
            "clasificacion_respuesta": "conecta_dm",
            "fecha_respuesta": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": ["contacto_id"]
        },
        "options": {
          "alwaysOutputData": true
        }
      }
    },
    {
      "id": "e7f8a9b0",
      "name": "Google Sheets - Update descartado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2400, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contacto_id": "={{ $json.contacto_id }}",
            "estado": "descartado",
            "clasificacion_respuesta": "no_interesado",
            "fecha_respuesta": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": ["contacto_id"]
        },
        "options": {
          "alwaysOutputData": true
        }
      }
    },
    {
      "id": "f8a9b0c1",
      "name": "Google Sheets - Update clasificacion only",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2400, 560],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contacto_id": "={{ $json.contacto_id }}",
            "clasificacion_respuesta": "={{ $json.clasificacion }}",
            "fecha_respuesta": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": ["contacto_id"]
        },
        "options": {
          "alwaysOutputData": true
        }
      }
    },
    {
      "id": "a9b0c1d2",
      "name": "Supabase - Crear Empresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 80],
      "parameters": {
        "method": "POST",
        "url": "https://xjrgqborwhvyqgrczetq.supabase.co/rest/v1/companies",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ nombre: $json.empresa || '', fuente: 'Autopilot - Respuesta' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "b0c1d2e3",
      "name": "Supabase - Crear Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 80],
      "parameters": {
        "method": "POST",
        "url": "https://xjrgqborwhvyqgrczetq.supabase.co/rest/v1/deals",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqcmdxYm9yd2h2eXFncmN6ZXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc5ODksImV4cCI6MjA5MDQ2Mzk4OX0.DWOoshMXxmQk0deq2jEnOOAFpr_pyE9aWenvu_GPzLs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ company_id: $json[0]?.id || null, opportunity_name: $json.empresa, status: 'Discovery', owner: 'Abraham Lopez', notes: 'Pepper - respondió al email de Autopilot' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c1d2e3f4",
      "name": "Merge All Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3000, 320],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "d2e3f4a5",
      "name": "Gmail - Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3200, 320],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.msgId || $json.id }}",
        "options": {}
      }
    },
    {
      "id": "e3f4a5b6",
      "name": "IF - More Batches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3400, 320],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-more-001",
              "leftValue": "={{ $node[\"SplitInBatches\"].context[\"noItemsLeft\"] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "f4a5b6c7",
      "name": "Gmail - Mark as Read (No Contact)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 460],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $json.msgId || $json.id }}",
        "options": {}
      }
    },
    {
      "id": "a5b6c7d8",
      "name": "IF - More Batches (No Contact)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 460],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-more-002",
              "leftValue": "={{ $node[\"SplitInBatches\"].context[\"noItemsLeft\"] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail - Read Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Read Inbox": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code - Extract Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Sender Email": {
      "main": [
        [
          {
            "node": "Google Sheets - Find Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Find Contacto": {
      "main": [
        [
          {
            "node": "IF - Row Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Row Found": {
      "main": [
        [
          {
            "node": "Merge Email + Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Mark as Read (No Contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Email + Contact": {
      "main": [
        [
          {
            "node": "HTTP Request - Claude Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Claude Classify": {
      "main": [
        [
          {
            "node": "Code - Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Classification": {
      "main": [
        [
          {
            "node": "Switch - On Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - On Classification": {
      "main": [
        [
          {
            "node": "HTTP Request - Claude Draft Calendly Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Claude Draft Calendly Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Claude Draft Referidor Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Update descartado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Update clasificacion only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Claude Draft Calendly Reply": {
      "main": [
        [
          {
            "node": "Gmail - Reply Calendly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Claude Draft Referidor Reply": {
      "main": [
        [
          {
            "node": "Gmail - Reply Referidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Reply Calendly": {
      "main": [
        [
          {
            "node": "Google Sheets - Update calendly_enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Reply Referidor": {
      "main": [
        [
          {
            "node": "Google Sheets - Update conecta_dm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update calendly_enviado": {
      "main": [
        [
          {
            "node": "Supabase - Crear Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Crear Empresa": {
      "main": [
        [
          {
            "node": "Supabase - Crear Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Crear Deal": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update conecta_dm": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets - Update descartado": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Sheets - Update clasificacion only": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Gmail - Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Mark as Read": {
      "main": [
        [
          {
            "node": "IF - More Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Batches": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gmail - Mark as Read (No Contact)": {
      "main": [
        [
          {
            "node": "IF - More Batches (No Contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Batches (No Contact)": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Pepper"
    },
    {
      "name": "Agent4"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-28T00:00:00.000Z",
  "versionId": "pepper-v2"
}
