agent1_hunter_v3.json
{
  "name": "Agent 1 - Hunter Enrichment v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "a1-node-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Empresas",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado_empresa",
              "lookupValue": "nuevo"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "a1-node-02",
      "name": "Read Empresas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1-node-03",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-web",
              "leftValue": "={{ $json['web'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1-node-04",
      "name": "IF - Has Web",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { let w = String($json['web'] || '').trim(); const md = w.match(/\\[([^\\]]+)\\]\\([^)]*\\)/); if (md) w = md[1]; return 'https://api.hunter.io/v2/domain-search?domain=' + w.replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split('/')[0].toLowerCase().trim() + '&api_key=efee88633f610ce7b47f7f495da22b41bea2b685'; })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1-node-05",
      "name": "HTTP Request Hunter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst input = items[0].json;\n\nlet sheetData = {};\ntry {\n  const ifItems = $('IF - Has Web').all();\n  sheetData = (ifItems && ifItems[0]) ? ifItems[0].json : {};\n} catch(e) { sheetData = {}; }\n\nconst emails = (input.data && input.data.emails) ? input.data.emails : [];\nconst empresa_id = String(sheetData.empresa_id || '');\nconst empresa_nombre = String(sheetData.nombre || '');\nconst volumen = String(sheetData.volumen_contenedores || '');\n\nif (emails.length === 0) {\n  return [{ json: { _no_contacts: true, empresa_id, empresa_nombre } }];\n}\n\nconst DM_KW = ['director','vp ','gerente general','gerente de log','gerente de import','gerente de operac','gerente de supply','gerente de compras','jefe de log','jefe de import','jefe de operac','subdirector','ceo','coo','head of','managing'];\nconst REF_KW = ['coordinador','analista','especialista','supervisor','ejecutivo de import','ejecutivo de log'];\nconst DEPT = ['management','logistics','operations','supply','purchasing','imports','export'];\n\nconst scored = emails\n  .filter(e => e.value && String(e.value).includes('@'))\n  .map(e => {\n    const pos = String(e.position || '').toLowerCase();\n    const dept = String(e.department || '').toLowerCase();\n    let score = 0, tipo = 'otro';\n    if (DM_KW.some(k => pos.includes(k))) { score += 10; tipo = 'decision_maker'; }\n    else if (REF_KW.some(k => pos.includes(k))) { score += 5; tipo = 'referidor'; }\n    if (DEPT.some(k => dept.includes(k))) score += 3;\n    return {\n      email: String(e.value || ''),\n      nombre: String((e.first_name || '') + ' ' + (e.last_name || '')).trim(),\n      cargo: String(e.position || ''),\n      telefono: String(e.phone_number || ''),\n      linkedin: String(e.linkedin || ''),\n      confidence: Number(e.confidence || 0),\n      score, tipo\n    };\n  })\n  .sort((a, b) => b.score - a.score);\n\nconst dms = scored.filter(e => e.tipo === 'decision_maker').slice(0, 2);\nconst refs = scored.filter(e => e.tipo === 'referidor').slice(0, 3);\nconst selected = [...dms, ...refs];\n\nif (selected.length === 0) {\n  return [{ json: { _no_contacts: true, empresa_id, empresa_nombre } }];\n}\n\nreturn selected.map((e, i) => ({\n  json: {\n    contacto_id: empresa_id + '-' + e.tipo.slice(0, 2).toUpperCase() + '-' + String(i + 1),\n    empresa_id,\n    empresa: empresa_nombre,\n    nombre: e.nombre,\n    cargo: e.cargo,\n    tipo_contacto: e.tipo,\n    email: e.email,\n    telefono: e.telefono,\n    linkedin: e.linkedin,\n    estado: 'nuevo',\n    investigacion: '',\n    pain_point: '',\n    contexto_email: '',\n    email_subject: '',\n    email_generado: '',\n    fecha_envio: '',\n    tokens_claude: '',\n    clasificacion_respuesta: '',\n    fecha_respuesta: '',\n    notas: 'Hunter: ' + e.confidence + '% | Vol: ' + volumen\n  }\n}));"
      },
      "id": "a1-node-06",
      "name": "Code - Score Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-contacts",
              "leftValue": "={{ $json._no_contacts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1-node-07",
      "name": "IF - Has Contacts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xq8IMuFZoMO3YkdTneirIPQ6VqvaAxKRN8H24BhN_AE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contactos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contacto_id": "={{ $json.contacto_id }}",
            "empresa_id": "={{ $json.empresa_id }}",
            "empresa": "={{ $json.empresa }}",
            "nombre": "={{ $json.nombre }}",
            "cargo": "={{ $json.cargo }}",
            "tipo_contacto": "={{ $json.tipo_contacto }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "linkedin": "={{ $json.linkedin }}",
            "estado": "={{ $json.estado }}",
            "investigacion": "={{ $json.investigacion }}",
            "pain_point": "={{ $json.pain_point }}",
            "contexto_email": "={{ $json.contexto_email }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_generado": "={{ $json.email_generado }}",
            "fecha_envio": "={{ $json.fecha_envio }}",
            "tokens_claude": "={{ $json.tokens_claude }}",
            "clasificacion_respuesta": "={{ $json.clasificacion_respuesta }}",
            "fecha_respuesta": "={{ $json.fecha_respuesta }}",
            "notas": "={{ $json.notas }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1-node-08",
      "name": "Append Contactos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "a1-node-09",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 300],
      "webhookId": "a1-wait-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-supabase-project.supabase.co/rest/v1/pipeline_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent",
              "value": "agent1_hunter"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1-node-10",
      "name": "HTTP Request Supabase Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Empresas": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF - Has Web",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Has Web": {
      "main": [
        [
          {
            "node": "HTTP Request Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Hunter": {
      "main": [
        [
          {
            "node": "Code - Score Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Score Contacts": {
      "main": [
        [
          {
            "node": "IF - Has Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Contacts": {
      "main": [
        [
          {
            "node": "Append Contactos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Contactos": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
